body {
    min-height: 100vh;
}

body > .content {
    padding: 10px;
}

body, .modal-card-body {
    background-color: hsl(0, 0%, 21%);
    color: hsl(0, 0%, 96%);
}

.footer, .modal-card-head {
    background-color: hsl(0, 0%, 29%);
    color: hsl(0, 0%, 96%);
}

strong {
    color: hsl(0, 0%, 86%);
}

a {
    color: hsl(216, 73%, 72%);
}

.content {
    max-width: 1034px;
    margin: 0 auto;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .label, .modal-card-title {
    color: hsl(0, 0%, 96%);
}

.check-container {
    display: flex;
}

#top {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    font-size: 70px;
}

@media (max-width: 1500px) {
    .pdf-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pdf-container > * {
        margin: 2px 4px;
    }

    .check-container > * { 
        flex-grow: 1;
        text-align: center;
    }
}